.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock {
  position: relative;
  height: 102px;
  width: 102px;
  margin: 10px;
  border: 1, solid, grey;
}
#tablo{
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0px;
}
.clock img {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 29px;
}
.container-fluid {
  display: flex;
  flex-direction: column;
}